<template name="home">
<div class="homescreen-all">
  <div class="homescreen-inner text-center">
    <div class="home-header">
      <div class="row">
        <div class="lhbs-logo col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5 text-center">
        </div>
      </div>
      <h1 class="text-capitalize main-headline">PRIOTOOL</h1>
      <h3>Prioritize lists of anything together, in real time.</h3>
    </div>
    <br />
    <br />
    <a href="{{pathFor 'buildlist'}}" class="btn btn-lg btn-success text-capitalize">Create a new list</a>
  </div>
  <div class="fixedFooter">
    <a class="whiteLink" href="http://en.wikipedia.org/wiki/Pollice_verso" target="_blank">Pollice Verso painting by Jean-Léon Gérôme</a> | <span>Hacked together by <a href="http://ten-x.red" class="whiteLink" target="_blank">TEN-X</a> in collaboration with <a href="http://lhbs.com" class="whiteLink" target="_blank">LHBS</a></span> 
  </div>
</div>
</template>
