<template name="listresults">
  {{#if currentUser}}
    <a href="/lists/{{list.hash}}/score/1" class="btn btn-default">change your mind</a>
  {{/if}}
  <h1>Results for {{list.name}}:</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>item</th>
        {{#each criteria}}
          <th>{{name}}</th>
        {{/each}}
        <th>total</th>
      </tr>
    </thead>
      {{#each results}}
        <tr>
          <td>{{headline}}</td>
          {{#each scores.criteriaData}}
            <td>{{this}}</td>
          {{/each}}
          <td>{{scores.total}}</td>
        </tr>
      {{/each}}
    <tbody>
    </tbody>
  </table>
</template>
