<template name="listresults">
  {{#if currentUserIsParticipant}}
    <a href="/lists/{{list.hash}}/score/1" class="btn btn-default">change your mind</a>
  {{/if}}
  <h1>{{list.name}}</h1>
  <hr />
  <h2>Participants:</h2>
  <ul>
    {{#each listParticipants}}
      <li>{{username}}</li>
    {{/each}}
  </ul>
  <hr />
  <h2>Results:</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>item</th>
        {{#each criteria}}
          <th>{{name}}</th>
        {{/each}}
        <th>total</th>
      </tr>
    </thead>
      {{#each results}}
        <tr>
          <td>{{headline}}</td>
          {{#each scores.criteriaData}}
            <td>{{this}}</td>
          {{/each}}
          <td>{{scores.total}}</td>
        </tr>
      {{/each}}
    <tbody>
    </tbody>
  </table>
</template>
