<template name="listresults">
  <h2>{{list.name}} results:</h2>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>item</th>
        {{#each criteria}}
          <th>{{name}}</th>
        {{/each}}
        <th>total</th>
      </tr>
    </thead>
      {{#each results}}
        <tr>
          <td>{{headline}}</td>
          {{#each scores.criteriaData}}
            <td>{{this}}</td>
          {{/each}}
          <td>{{scores.total}}</td>
        </tr>
      {{/each}}
    <tbody>
    </tbody>
  </table>
  <hr />
  <h2>Who participated in the rating:</h2>
  <ul>
    {{#each listParticipants}}
    <li>{{username}}</li>
    {{/each}}
  </ul>
  <hr />
  {{#if currentUserIsParticipant}}
  <a href="/lists/{{list.hash}}/score/1" class="btn btn-default">change your mind</a>
  {{else}}
    {{#if currentUser}}
    <a href="/lists/{{list.hash}}" class="btn btn-default">start rating yourself</a>
    {{/if}}
  {{/if}}
</template>
