<template name="scoring">
<div class="text-center">
  <h2>{{item.headline}}</h2>
  <p>{{item.description}}</p>
  <hr />
  <h2>Your Score:</h2>
  <hr />
    {{#each userItemScores}}
      {{> scoringItemCriteria}} 
    {{/each}}
  {{#unless isFirstItem}}
    <a href="/lists/{{list.hash}}/score/{{prevOrder}}" class="btn btn-default btn-go btn-go-prev">PREV</a>
  {{/unless}}
  {{#if isLastItem}}
    <a href="/lists/{{list.hash}}/results" class="btn btn-default">FINISH</a>
  {{else}}
    <a href="/lists/{{list.hash}}/score/{{nextOrder}}" class="btn btn-default btn-go btn-go-next">NEXT</a>
  {{/if}}
</div>
</template>
